{% extends "layout.html" %}

{% block title %}
Note
{% endblock %}

{% block main %}

<div id="do_notediv">
    <form action="note" method="get">
        <div class="input-group mb-3">
            <input type="text" name="keyword" id="searchinbox" class="form-control" placeholder="Search for a note"
                autofocus aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" id="searchnotebtn" type="submit">Search</button>
            </div>
        </div>
    </form>

    <form action="note" method="post" id="savenoteform">
        <div class="form-group" id="notebox">
            <textarea class="noborder" id="noteinbox" name="note" placeholder="Take a note here" rows="4"></textarea>
            <p></p>
        </div>

        <div class="input-group mb-3" id="taginputgroup">
            <input type="text" name="tag" id="taginbox" class="form-control" placeholder="TAG"
                aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" id="savenotebtn" type="submit">Save</button>
            </div>
        </div>
    </form>
</div>
<p class="notice">100 most recent notes:</p>
<div class="flex-container" id="allnotes">
    {% for anote in notes %}
    <div class="notediv" id="notediv{{ anote[2] }}">
        <textarea rows="5">{{ anote[1] }}</textarea>
        <div class="tagtext">
            <button class="zoombtn" onclick="zoom()" zoomed="false" value="{{ anote[2] }}">🍳+</button>
            {{ anote[0] }}
        </div>
    </div>
    {% endfor %}
</div>

<script src="static/note.js">
    
</script>

{% endblock %}